/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Header */
header {
  text-align: center;
}

/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}


.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

}

.intro ul {
  text-align: justify ;
  margin-left: 20px;
  
  
}

.intro p {
  margin: 0 0px;
  padding: 0 20px;
  text-align: left
}

.bio p {
  text-align: justify;
  margin: 0 0px;
}


article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

/* Paragraphs */
p {
  line-height: 1.5;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav a {
  padding-left: 20px;
}




.intro img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border: 2px solid #618090;
  border-radius: 50%; 

}

.port {
  margin: 90px;

  

}

#portfolio {

  

}

#portfolio , img{
  display: flex;
  justify-content: center;
  height: 180px;
  width: auto;
  align-items: center;
  margin: auto;

}

#portfolio, p {
  text-align: center;
  margin: 50px auto;

}






/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}
